html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.container {
    display: flex;
    min-height: 100vh;
}

.splashImgContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/Polo_Grounds_1923.jpg) left center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 0 33%;
}

.splashImgContainer .imgCredit {
    color: #fff;
    margin: 0;
    text-align: center;
    text-wrap: balance;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 0.8rem;
}

.splashImgContainer .brandContainer {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 2.2rem;
    color: #9dff8b;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    transform: rotate(-5deg);
    padding: 0 8px;
}

.contentContainer {
    padding: 20px;
    align-self: center;
}