html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

p {
    margin-top: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.splashImgContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/Polo_Grounds_1923.jpg) left center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 0 33%;
}

.splashImgContainer .imgCredit {
    color: #fff;
    margin: 0;
    text-align: center;
    text-wrap: balance;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 0.8rem;
}

.splashImgContainer .brandContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.splashImgContainer .brandContainer .brandText {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2.2rem;
    color: #9dff8b;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    transform: rotate(-5deg);
    padding: 0 8px;
    margin: 10px 0;
}

.splashImgContainer .brandContainer img {
    width: min(180px, 50%);
    display: block;
    margin: 5px auto;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
    margin-top: max(25vh, 5px);
}

.contentContainer {
    align-self: center;
}

.contentContainer>p {
    padding: 0 20px;
}

form button {
    margin: 20px;
}

.formContainer {
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.contentContainer>p,
.formContainer>p {
    font-weight: bold;
    font-size: 1.2rem;
}

label {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #1a1a1a;
}

input {
    border: 1px solid #E5E7EB;
    width: max(100%, 200px);
    font-family: inherit;
    font-size: 100%;
}

input:focus {
    outline: 2px solid #5681ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

input[type="password"]:invalid {
    border: 1px solid #FF0000;
}

.formRow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.formCell {
    flex: 1 1 50%;
    padding: 10px;
}

.formCell label {
    display: block;
    margin-bottom: -2px;
}

.loginText,
.submitBtn {
    font-size: 1rem;
}

.loginText a {
    text-decoration: none;
    color: #137800;
}

.loginText a:hover {
    text-decoration: underline;
    color: #0c5000;
}

.submitBtn {
    font-weight: bold;
    color: #000000;
    background-color: #9dff8b;
    padding: 10px 30px;
    border: 1px solid #06b935;
    border-radius: 5px;
}

.submitBtn:hover {
    background-color: #6fdb5c;
    cursor: pointer;
}